body{
    margin: 0px;
    text-align: center;
    font-family: 'Wendy One', sans-serif;
}
h1{
    margin: 0;
    font-size: 5.625em;
}
p{
    margin-bottom: 0;
}
hr{
    border-top: 10px dotted ;
    width: 100px;
    margin-top: 18px;
}
h2{
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #006E7F;
}
a{
    color: white;
}
.name{
    color: white;
    margin-top: 0;
}
.top-container{
    background-color: #006E7F;
    color: white;
    padding: 20px;
    position: relative;
    padding-top: 70px;
    padding-bottom: 0;
}
.profile{
    padding: 50px;
}
.heading-contact-me{
    margin-top: 18px;
}
.skills{
    padding: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 20px auto;
    line-height: 2;
    text-align: left;
}
.contact-me{
    padding: 50px;
}
.bottom-container{
    margin: 50px auto auto 0;
    padding: 20px;
    background-color: #006E7F;
}
#cloud1{
    position: relative;
    left: 220px;
    bottom: 10px;
}
#cloud2{
    position: absolute;
}
.fish1{
    width: 153px;
    float: left;
    margin-right: 30px;
}
.fish2{
    width: 153px;
    float: right;
    margin-left: 30px;
}
#email1{
    width: 200px;
}
.btn {
    background: #02b1cc;
    background-image: -webkit-linear-gradient(top, #02b1cc, #006E7F);
    background-image: -moz-linear-gradient(top, #02b1cc, #006E7F);
    background-image: -ms-linear-gradient(top, #02b1cc, #006E7F);
    background-image: -o-linear-gradient(top, #02b1cc, #006E7F);
    background-image: linear-gradient(to bottom, #02b1cc, #006E7F);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #EE5007;
    background-image: -webkit-linear-gradient(top, #EE5007, #B22727);
    background-image: -moz-linear-gradient(top, #EE5007, #B22727);
    background-image: -ms-linear-gradient(top, #EE5007, #B22727);
    background-image: -o-linear-gradient(top, #EE5007, #B22727);
    background-image: linear-gradient(to bottom, #EE5007, #B22727);
    text-decoration: none;
}